form{
    margin: 10px;
    text-align: center;
}
img{
    margin-left: 40%;
    width: 20%;
}
p{
    text-align: center;
    font-size: 30px;
}
button{
    width:30%;
    margin-left:35%;
    margin-right:35%;
}